Hi {{FirstName}},<br></br><br></br>

Amazing news—your UAE residence visa and Emirates ID are now approved!<br></br>
You are officially a resident of the UAE.<br></br><br></br>

Download your documents and view next steps here:<br></br>
<a href="{{PortalLink}}">{{PortalLink}}</a><br></br><br></br>

<a href="{{PortalLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  View Details
</a><br></br><br></br>

We’re always here if you need help.<br></br><br></br>

<a href="{{WhatsappLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Whatsapp Here
</a><br></br><br></br>

Welcome to Dubai!<br></br>
E360 Consult
