Hi {{FirstName}},<br></br><br></br>

Congratulations! Your Dubai business license is now officially issued.<br></br>
You can download it from your portal and begin operating your company.<br></br><br></br>

<a href="{{PortalLink}}">{{PortalLink}}</a><br></br><br></br>

<a href="{{PortalLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Download License
</a><br></br><br></br>

Need help with what’s next? We’re just a message away.<br></br><br></br>

<a href="{{WhatsappLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Whatsapp Here
</a><br></br><br></br>

Welcome to entrepreneurship in Dubai!<br></br>
E360 Consult
