<p>Hello {{assigneeName}},</p><br></br><br></br>

<p>A new remark has been added to a task you're working on:</p><br></br><br></br>

<ul>
  <li><strong>Task:</strong> {{taskName}}</li>
  <li><strong>Remark By:</strong> {{remarkedBy}}</li>
  <li><strong>Remarked On:</strong> {{remarkedAt}}</li>
</ul><br></br><br></br>

<p><strong>Remark:</strong></p>
<blockquote style="background-color: #f8f8f8; padding: 10px; border-left: 4px solid #ccc;">
  {{remark}}
</blockquote><br></br><br></br>

<p>Please check the task for more details or further actions.</p><br></br><br></br>

<p>Thanks,<br/>Team E-360</p>
