<p>Hello {{assigneeName}},</p><br></br><br></br>

<p>You have been assigned a new task:</p><br></br><br></br>

<ul>
  <li><strong>Task:</strong> {{taskName}}</li><br></br>
  <li><strong>Priority:</strong> {{priority}}</li><br></br>
  <li><strong>Start Date:</strong> {{startDate}}</li><br></br>
  <li><strong>End Date:</strong> {{endDate}}</li><br></br>
  <li><strong>Assigned By:</strong> {{assignedBy}}</li><br></br>
</ul><br></br><br></br>

<p>Please log in to your dashboard to view the task details.</p><br></br><br></br>

<p>Thanks,<br/>Team E-360</p>
