Hi Team,<br><br>

{{FirstName}} has scheduled a consultation for {{Service}}.<br><br>

Date & Time: {{CallDateTime}}<br>
Meeting Link: <a href="{{MeetingLink}}">{{MeetingLink}}</a><br>
Duration: 30 mins<br><br>

Please ensure the case details are reviewed before the call.<br><br>

Regards<br>
E360 Consult